@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: #363062;
    width: 400px;
    height: 500px;
    padding: 10px;
    border: 1px solid #363062;
    border-radius: 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#screen {
    color: #E9D5DA;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    height: 100px;
    display: inherit;
    justify-content: flex-end;
    align-items: center;
}

#input-box {
    margin: 0px;
}

#button-pad {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

button {
    color: #E9D5DA;
    font-family: 'Work Sans', sans-serif;
    padding: 5px;
    border-radius: 5px;
}

#equals, .operators{
    background-color: #827397;
    border: 1px solid #827397;
}

.digits, #decimal-point{
    background-color: #4D4C7D;
    border: 1px solid #4D4C7D;
}

#clear, #delete {
    background-color: #5B4B8A;
    border: 1px solid #5B4B8A;
}

.operators-clicked {
    background-color: #7a6497e8;
}

#zero, #clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* #footer {
    width: 100vw;
    background-color: rgb(173, 173, 173);
    display: inherit;
    justify-content: center;
} */