@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

:root {
    --bg-color: #363062;
    --text-color: #E9D5DA;
    --symbol-btn-color: #827397;
    --number-btn-color: #4D4C7D;
    --other-btn-color: #5B4B8A;
    --clicked-btn-color: #7a6497e8;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    gap: 1em;
}

#container {
    background-color: var(--bg-color);
    width: 400px;
    height: 500px;
    padding: 10px;
    border-radius: 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#screen {
    color: var(--text-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    height: 100px;
    display: inherit;
    justify-content: flex-end;
    align-items: center;
}

#input-box {
    margin: 0px;
}

#button-pad {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

button {
    appearance: none;
    border: none;
    color: var(--text-color);
    font-family: 'Work Sans', sans-serif;
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

#equals, .operators{
    background-color: var(--symbol-btn-color);
}

.digits, #decimal-point{
    background-color: var(--number-btn-color);
}

#clear, #delete {
    background-color: var(--other-btn-color);
}

.operators-clicked {
    background-color: var(--clicked-btn-color);
}

#zero, #clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

footer,
footer a {
    color: var(--bg-color);
}

a {
    text-decoration: none;
}

footer a:hover {
    color: var(--symbol-btn-color);
    text-decoration: underline;
}